<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.ListenerSak"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="SakTest">
        <packages>
            <package name="test"/>
        </packages>
    </test>
</suite>